@font-face {
  font-family: "StarWars";
  src: url("../../assets/fonts/Starjhol.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Grotesk";
  src: url("../../assets/fonts/Typo Grotesk Demo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.header {
  background-color: rgba(0, 0, 0, 0.026);
  height: 15vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: -20px;
  margin-bottom: -35px;
  text-align: center;
  font-family: "StarWars", sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: #ffe919;
}

h2 {
  font-family: "StarWars", sans-serif;
  margin-top: 20px;
  color: #ffe919;
  margin-left: 35px;
  font-size: 48px;
}

.logos {
  margin-top: 10px;
  position: relative;
}
.logos img {
  height: 40px;
}

#background-video {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.people {
  min-height: 75vh;
  display: grid;
  grid-template-rows: minmax(300px, auto);
  grid-template-columns: minmax(20%, 50%) minmax(10%, 30%) minmax(20%, 50%);
  color: aliceblue;
  /* grid-column: 1fr, 1fr; */
}

.people .person {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#clickie {
  margin: 1rem;
  padding: 1rem;
  font-size: 24px;
  border-radius: 2rem;
  border-style: inset;
  box-shadow: 1px 5px;
  font-family: "StarWars";
  background-color: rgba(0, 0, 0, 0.052);
  color: #ffe919;
}

main {
  margin-top: 0;
  text-align: center;
  position: relative;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5058823529), #030303);
}

select {
  max-height: 50px;
  border-radius: 12px;
  font-size: 24px;
  padding: 5px 10px;
  color: aliceblue;
  background-color: black;
  color: #ffe919;
  overflow-y: scroll;
}

.select-test {
  margin: auto;
}

body {
  margin: 0px;
  padding: 0px;
}

#loading-check {
  display: flex;
  font-size: 24px;
  color: aliceblue;
  background-color: rgba(3, 0, 0, 0.504);
  justify-content: center;
  align-items: center;
  margin: auto;
}

#loading-check input.loading-check {
  height: 30px;
  width: 30px;
}

#loading-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: black;
  visibility: hidden;
}

#stats {
  font-family: "Grotesk", sans-serif;
  border-radius: 50px;
  align-self: center;
  min-height: 50%;
  padding: 1rem;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  visibility: hidden;
  background-color: rgba(3, 0, 0, 0.504);
  border: 4px groove rgba(255, 255, 255, 0.475);
}

#stats p {
  font-size: 20px;
  color: aliceblue;
}

#more-text-btn {
  margin: 1rem;
  padding: 1rem;
  font-size: 16px;
  border-radius: 2rem;
  border-style: inset;
  box-shadow: 1px 5px;
  background-color: rgba(0, 0, 0, 0.668);
  color: yellow;
}

.profile-picture {
  margin: auto;
  width: 90%;
  height: 244px;
  max-width: 358px;
  border-radius: 16px;
  background-color: rgb(36, 34, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  background: center;
  background-position: center 20%;
  background-size: cover;
}

.profile-picture img {
  border-radius: 16px;
  max-width: 360px;
  max-height: 90%;
  margin: auto;
  max-width: 96%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .people {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    color: aliceblue;
  }
  main {
    overflow-y: auto;
    background: linear-gradient(to top, rgba(27, 19, 41, 0.7294117647), rgba(8, 6, 10, 0.5098039216)), url("../../assets/images/background1.gif");
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 600px) {
  #loading-video {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    -o-object-fit: cover;
    object-fit: cover;
    background-color: black;
    visibility: hidden;
    src: url("..../");
  }
  .header {
    display: block;
    margin-bottom: 50%;
  }
  h2 {
    margin: auto;
  }
}
.card {
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  max-width: 358px;
  width: 100%;
  background-color: rgba(3, 0, 0, 0.504);
  border: 4px groove rgba(255, 255, 255, 0.475);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  display: none;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(2, 2, 2, 0.8);
}

.card-id,
.card-name {
  font-weight: bold;
  font-size: 1.4rem;
  color: rgba(235, 233, 219, 0.9019607843);
}

.card-img {
  margin: auto;
  width: 90%;
  height: 244px;
  max-width: 358px;
  border-radius: 16px;
  border: solid 2px black;
  background: center;
  background-position: center 20%;
  background-size: cover;
}

.card-content {
  padding: 1rem;
}

.card-info {
  font-family: "Grotesk", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-bottom: rgba(203, 203, 203, 0.638) 2px inset;
}

.info-label {
  font-weight: bold;
}

.additional-info {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.342);
  font-size: 1.1rem;
  text-align: justify;
  display: none;
  border-top: gray inset 2px;
}

.circleID {
  background-color: rgba(88, 88, 18, 0.174);
  border-radius: 16px;
  border: rgba(255, 255, 0, 0.7) 2px solid;
  padding: 5px;
}

.card-id {
  padding-top: 10px;
  padding: 5px;
}


.selectable-options {
  max-height: 200px;
  overflow: auto;
}

.searchable-select-box input {
  border: #ffe919 2px inset;
  background-color: #030303;
  color: #ffe919;
  font-size: 24px;
}
.searchable-select-box ::-moz-placeholder {
  color: rgba(222, 216, 154, 0.9411764706);
}
.searchable-select-box ::placeholder {
  color: rgba(222, 216, 154, 0.9411764706);
}

.select-option {
  background-color: #030303;
  color: #ffe919;
  font-size: 24px;
}

.select-option:hover {
  background-color: #2d2d2d;
}/*# sourceMappingURL=style.css.map */